# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignorar las carpetas generadas por PlatformIO
.pio
.pioenvs
.piolibdeps

# Ignorar archivos de compilación y resultados de ESP-IDF
build/
build_*_*/

# Ignorar archivos de configuración generados automáticamente
sdkconfig
sdkconfig.old

# Ignorar archivos de bloqueo y componentes administrados
dependencies.lock
managed_components/

# Cache y temporales de Python y otros
__pycache__/
.pytest_cache/
*.pyc
